/* Property Inspector Styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 9pt;
  margin: 0;
  padding: 10px;
  background-color: #2d2d2d;
  color: #d8d8d8;
}

.sdpi-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sdpi-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.sdpi-item-label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #d8d8d8;
}

.sdpi-item-value input,
.sdpi-item-value textarea,
.sdpi-item-value select {
  width: 100%;
  padding: 5px 8px;
  border: 1px solid #3d3d3d;
  border-radius: 3px;
  background-color: #3d3d3d;
  color: #d8d8d8;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

.sdpi-item-value textarea {
  min-height: 60px;
  resize: vertical;
}

.sdpi-item-value input:focus,
.sdpi-item-value textarea:focus,
.sdpi-item-value select:focus {
  outline: none;
  border-color: #0099ff;
}

.sdpi-item-value input::placeholder,
.sdpi-item-value textarea::placeholder {
  color: #808080;
}

.sdpi-info {
  font-size: 8pt;
  color: #999;
  margin-top: 3px;
  line-height: 1.4;
}

.sdpi-heading {
  font-size: 10pt;
  font-weight: 600;
  margin: 15px 0 10px 0;
  color: #d8d8d8;
  border-bottom: 1px solid #3d3d3d;
  padding-bottom: 5px;
}

.sdpi-heading:first-child {
  margin-top: 0;
}
